#escala {
    border-radius: 20px;
    background: #F5F5F5;
    width: 90%;
    margin: auto;

}

#title-escala {
    color: #1F4864;
    font-size: 1.8rem;
    font-style: normal;
    text-align: center;
}

#text-escala {
    color: #1F4864;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Inter;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 300;
}