body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.localizacao {
    background-image: url('../image/biblia.png');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 50px 50px;
    text-align: left;
    min-height: 500px;
    display: flex;
    align-items: center;
}

.localizacao h2 {
    font-size: 1.9em;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.localizacao p {
    margin: 0;
    font-size: 1.2em;
    line-height: 1.6;
}

.localizacao .content {
    max-width: 600px;
    margin-left: 10%;
    padding: 20px;
    border-left: 1px solid #ccc;
}

.versiculo-dia {
    text-align: center;
    padding: 8%;
}

.versiculo-dia p {
    font-style: italic;
    font-size: 1.2em;
}

.obra-missionaria {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F4864;
    color: white; 
    padding: 3% 15%;
    min-height: 400px;
}

.obra-missionaria h3 {
    margin: 0;
    font-size: 1.8rem;
}

.obra-missionaria p {
    margin-top: 10px;
    font-size: 1rem;
    line-height: 1.5;
}

.obra-missionaria img {
    min-height: 150px;
    width: auto; 
}
.departamentos {
    padding: 30px;
    text-align: center;
    color: #1F4864;
}

.departamentos-container {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px 0;
    justify-content: start;
    scroll-snap-type: x mandatory;
}

.departamentos-container > div {
    padding: 3%;
    scroll-snap-align: center;
    flex-shrink: 0;
    text-align: center;
}

.departamentos img {
    width: auto;
    min-height: 250px;
    margin-bottom: 10px;
    padding-left: 20%;
    padding-right: 20%;
}

.departamentos p {
    font-size: 1.2em;
    font-weight: bold;
}

.departamentos-container::-webkit-scrollbar {
    display: none;
}

@media (max-width: 768px) {
    .departamentos-container {
        gap: 15px;
    }

    .departamentos img {
        width: 120px;
    }
}


.contribuicao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('../image/contribuicao.png');
    background-size: cover;    
    color: white;
    padding: 4% 15%;
    min-height: 500px;
}

.texto h3{
    font-size: 2rem;
}

.texto p {
    font-size: 1.2rem;
    line-height: 1.6;
}

.qrcode {
    text-align: center;
    max-width: 50%;
}

.qrcode img {
    min-height: 150px;
    width: auto;
    margin: 10px 0;
}

.qrcode-titulo, .qrcode-titular {
    margin: 5px 0;
    font-size: 1.2rem;
}


@media (max-width: 768px) {
    .localizacao {
        text-align: center;
        padding: 30px 10px;
    }

    .localizacao .content {
        margin-left: 0;
    }

    .departamentos-container {
        flex-direction: column;
        gap: 20px;
    }
}
