<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <div class="container">
        <h1 class="my-4">Confirmar Exclusão</h1>
        <p>Tem certeza que deseja excluir a escala "{{ escala.programacao }}"?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Excluir</button>
            <a href="{% url 'escala_list' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</body>

</html>