{% extends "base.html" %}
{% load static %}
{}
{% block title %}História{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/historia.css' %}">
{% endblock %}
{% block content %}
<section class="historia">
    <div class="container">
        <h1 class="title">HISTÓRIA DO EVANGELHO E DA ASSEMBLEIA DE DEUS EM RODOLFO FERNANDES - RN</h1>

        <article>
            <h2>1 - COMO TUDO COMEÇOU</h2>
            <p>A igreja é algo que Deus instituiu, por esta razão tem crescido de forma gloriosa através da proclamação
                do evangelho. A proclamação do evangelho é abrangente à todos os povos, por isso tem chegado até nós da
                cidade de Rodolfo Fernandes.
                O primeiro trabalho evangélico de Rodolfo Fernandes aconteceu com o Pastor José dos Santos Lira, no ano
                de 1967, sendo ele pastor na cidade vizinha de Itaú começou a evangelizar a cidade, se deslocando para o
                município sempre que possível.
                Segundo o próprio pastor no ano de 1967 onde ele não tinha veículo para se locomover, ele conseguiu
                pegar carona com um senhor, cujo não sabia exatamente quem eram, com o decorrer da viagem com as
                conversas crescendo, descobriu-se que esse senhor que dava essa carona que era o padre de Rodolfo
                Fernandes, por decorrência o padre de Rodolfo ajudava ao evangelho ser espalhado na cidade.
                Com ambos sabendo o que cada um fazia foi combinado para que toda vez que fosse dar essa carona ao
                pastor Lira ele saísse da cidade de Itaú e ficasse esperando ele perto da parede do açude onde era o
                ponto de encontro deles. E ao chegar perto da cidade descia antes de entrar na mesma para não espalhar a
                notícia que o padre estava trazendo o pastor e com isso o evangelho para Rodolfo.
                Houve uma ausência de informações desde Pastor Lira até Pastor Joaquim Moreno.
            <p>No dia 22 de abril de 1983, na gestão do então pastor Joaquim Moreno, na Rua Joaquim Dantas, s/nº em um
                prédio alugado sendo proprietário Juciê. Os trabalhos nesse local permaneceram no período de abril de
                1983 a abril de 1984, com o passar do tempo veio para a Rua João Cordeiro, mais precisamente na
                residência do senhor Manoel Bevenuto de Oliveira, ficando por pouco tempo e foi novamente transferida
                para a residência do irmão a residência do irmão Francisco Bevenuto de Oliveira, a Rua Manoel Nobre.
                Ali eram realizados os trabalhos de Escola Dominical e a Santa Ceia, sempre aos domingos, cujos
                trabalhos eram dirigidos pelo pastor Joaquim Moreno. Na semana vinha um auxiliar de trabalho Irmão Dimas
                com objetivo de dar assistência, uma vez por semana.
                Com a continuação do trabalho do Pr. Joaquim Moreno e sua esposa houve as primeiras convenções, os
                primeiros crentes foram: Francisco Bevenuto e sua esposa irmã Maria Almeida, Irmã Inácia, irmã Adilia, a
                última mencionada encontrava-se desviada. A irmã Helena com o esposo Edmilson, passando a residir na
                cidade, como crentes reuniram-se aos nossos irmãos novos convertidos de forma que na soma formaram
                6(seis) crentes, tempos depois o irmão Raimundo Gonçalves e família aceitaram a Jesus Cristo, no ano de
                1981 e o trabalho foi tendo avanço de maneira que no ano de 1982 no mês de fevereiro 6(seis) pessoas
                desceram às águas batismais. O crescimento da igreja foi surpreendente, no ano de 1982 houve mais um
                batismo de 20 a 30 batizados.  
            <p>No início de 1984 o pastor Joaquim Moreno ordenou o irmão Raimundo Araújo, juntamente com sua esposa e
                filhos, vindo da cidade de Pau dos Ferros, como dirigente do trabalho, desta cidade, cujo local era a
                própria residência, situada na Rua Ireneu Cavalcanti, bairro do Alto do São MANOEL.
                No mês de outubro de 1984, os trabalhos evangélicos foram transferidos do bairro Alto do São Manuel para
                um prédio alugado pelo irmão Raimundo Araújo, localizado à Rua Presidente Dutra, s/nº, passando ali por
                algum tempo.
                Em julho de 1985 retorna para a Rua Manoel Nobre, mais precisamente para a residência do irmão Francisco
                Bevenuto de Oliveira. Dezembro de 1985 saindo o pastor Joaquim Moreno da cidade de Itaú e deixando de dá
                assistência em Rodolfo Fernandes.
            <p>Em dezembro de 1985 sai o pastor Joaquim Moreno e assume o pastor Manoel Gomes, conhecido pela alcunha de
                “Perninha”, o qual permaneceu a frente dos trabalhos evangélicos até o mês de janeiro de 1986, saindo
                por motivo superior.
                No mesmo ano toma posse o pastor Manoel Ferreira Filho, dando assistência aqui em Rodolfo Fernandes, o
                qual autorizou o irmão Francisco Xavier de Oliveira, este filho de Francisco Bevenuto de Oliveira e
                Maria Almeida de Oliveira para ficar à frente dos trabalhos. Pouco tempo depois o irmão Francisco Xavier
                passa o cargo de dirigente de trabalho para o irmão Mizael Alves Pinheiro, este residente na cidade de
                Itaú-RN. Trabalhos eram realizados na residência do Irmão Francisco Bevenuto
            <p>Na data de 21/11/1987, foi inaugurado o templo da Igreja Evangélica Assembleia de Deus, Sendo Batizados
                nas águas alguns irmãos, Os trabalhos passaram a ser realizados na Igreja na qual o Ir. Mizael como
                dirigente residindo aqui na cidade, construiu. Tendo assim no templo iniciado a Escola Dominical a
                tarde. 
                A inauguração do templo da Assembleia de Deus na cidade de Rodolfo Fernandes ocorreu em 21 de novembro
                de 1987, localizado à Rua Joaquim Dantas, s/nº, na gestão do então pastor Manoel Ferreira Filho, assim
                sendo, os trabalhos evangélicos passaram a ser realizados na Igreja.
                Em 1988 o pastor Manoel Ferreira Filho foi transferido para a cidade de Felipe Guerra, tendo tomado
                posse o pastor José Ribamar, na cidade de Itaú-RN. Sempre procurando da assistência aqui em Rodolfo
                Fernandes até o ano de 1988. 
            <p>Com a saída do pastor José Ribamar, assume o irmão Francisco Xavier de Oliveira, dando assistência como
                auxiliar, posteriormente assume o cargo de dirigente, tendo em vista que o Irmão Mizael Alves foi
                consagrado ao presbitério com ação pastoral saindo assim para o campo.
                Vindo assim para a cidade de Itaú o Pastor Edson Turiano, que também deu assistência aqui na cidade.
                Sendo ainda o mesmo dirigente Irmão Francisco Xavier, com a cooperação do irmão Antônio Rodrigues vindo
                dar assistência o irmão Jozibias.
                Saindo o Pastor Edson Turiano para a obra missionaria no Paraguai, foi passar o pastor Delmarí vindo da
                cidade do Itaú dar assistência.
            <p>Em 1989 toma posse o primeiro obreiro pela Convenção Estadual do Ministro do Evangelho do Estado do Rio
                Grande do Norte o Pastor Vigilho João de Moura, a Igreja recebendo com alegria pois foi o primeiro
                pastor que era residindo em Rodolfo Fernandes e Jesus continuou a salvar e a fazer maravilhas.
                Aproximadamente em 07/06/1992 o mesmo foi transferido para a cidade de João Dias. Passou assim alguns
                dias a Igreja sentindo falta de um outro obreiro, e por pouco tempo o Irmão Francisco Xavier assumiu a
                Igreja.
                Mas em junho de 1992, tomou posse o 2° Obreiro Pastor José Milton de Oliveira, vindo da cidade de
                Grossos. Por qual Deus também abençoou maravilhosamente salvando e operando maravilhas. Em 1994 Pastor
                Milton foi transferido para cidade de Itaú.</p>
        </article>

        <article>
            <h2>2 - PRIMEIRO RELATÓRIO</h2>
            <p>Em 11 de agosto de 1994, a Igreja Assembleia de Deus de Rodolfo Fernandes recebeu o terceiro obreiro, na
                pessoa do pastor Raimundo Rodrigues, vindo da cidade de Mossoró, permanecendo a frente dos trabalhos
                evangélicos por vários anos. Nesta feita, ele levantou o primeiro relatório da igreja.
            </p>
            <div class="relatorios">
                <img src="{% static 'image/image15.png' %}" alt="Relatório 1">
                <img src="{% static 'image/image16.png' %}" alt="Relatório 2">
            </div>
        </article>



        <article>
            <h2>3 - ALGUMAS REFORMAS</h2>
            <p>
                No ano de 1999 o Pastor Raimundo Nonato assumiu a Igreja em Rodolfo Fernandes, passando alguns anos onde
                a Igreja teve um crescimento muito grande, onde posteriormente no ano de 2004 saiu para a cidade de
                Almino Afonso.
                Em 10 de Outubro de 2001 O pastor Raimundo Bernardino assumiu a Igreja na cidade de Rodolfo Fernandes
                vindo da cidade de Almino Afonso. Iniciando pouco tempo após a iniciou a reforma e ampliação do templo
                local.
            <p>
                Em 20 de outubro de 2004 o pastor Raimundo Bernardino inaugurou as reformas e ampliação da Assembleia de
                Deus, dando aos crentes Rodolfo-Fernandenses a oportunidade de terem maior conforto e melhor acomodação.
                O novo templo mais moderno e maior foi ampliado à parte da necessidade da igreja, de um melhor espaço.
                Com essa reforma e crescimento foi registrado o maior número de fies na história da Igreja.
                A inauguração aconteceu com uma grande festa, que reuniu vários pastores de diversos municípios, com
                destaque para o pastor Martim Alves da Silva, presidente da Assembleia de Deus da cidade de Mossoró e do
                seu vice-presidente, pastor Diomédio Jácome.
            <p>
                Com a saída do pastor Raimundo Bernardino chegou o Pastor Josean de Mesquita Cabral vindo da cidade de
                Coronel João Pessoal no ano de Fevereiro de 2005, passando mais de 7 anos na cidade sendo assim o pastor
                que passou maior tempo em Rodolfo Fernandes.
                Após 7 anos passados o pastor Josean de Mesquita sai da cidade de Rodolfo Fernandes em 19 de março de
                2012 se deslocando para a cidade de Lucrécia. Encerrando o seu ciclo na cidade de Rodolfo Fernandes.
                Após o pastor Josean, chegou o pastor João Deoclécio sendo transferido da cidade de Pilões para Rodolfo.
                Com o pastor João muitas pessoas voltaram a reconhecer que só o Senhor é Deus, passando apenas dois anos
                na cidade com Deus sempre se fazendo presente.
            <p>
                No ano de 18 agosto de 2014 o Pastor João encerrou seu ciclo na cidade, e se transferiu para a cidade de
                Riacho da Cruz passando o trabalho da Igreja para o pastor Fernandes vindo da cidade referida.
                No dia Referido, chegou o pastor Fernandes vindo com sua esposa, Ir. Leones, passando pouco mais de dois
                anos o pastor Fernandes conhecido como “Pr. Fernando”, vindo a ser Rodolfo Fernandes seu último campo
                pastorial sendo jubilado no dia 17/01/2017 sendo jubilado em uma cerimonia com vários pastores da
                região, Junto com o pastor presidente do auto-oeste potiguar Pastor Francisco Cicero Miranda, pastor
                presidente da igreja em Mossoró e residente na mesma.
                Com a ausência de um Pastor, o Irmão Francisco Xavier se torna novamente o dirigente da igreja por 5
                dias, encerrando no dia 21/01/2017.

            </p>
        </article>

        <article>
            <h2>4 - REFORMA E INAUGURAÇÃO DE UMA NOVA CONGREGAÇÃO</h2>
            <p>No dia 21/01/2017, Tomou posse o Pastor Ricardo da Nobrega vindo da cidade de Mossoró, recebendo a Igreja
                do Pastor Francisco Vicente de Oliveira, Vice – Presidente da Assembleia de Deus em Mossoró, e se
                tornando o oitavo pastor designado para Rodolfo Fernandes.
            <p>
                Com a chegada do Pastor Ricardo da Nobrega a Igreja começou a um processo de reforma interna do templo
                sendo até os dias de hoje (02/11/2017) realizado com sucesso e com o apoio de cada irmão da igreja. Na
                gestão do referido Pastor é inaugurado também uma congregação localizada no sítio espinheiro, zona rural
                do município com o irmão Monez e a irmã Aleide como dirigentes.</p>
        </article>

        <article>
            <h2>5 - NOVO TEMPLO</h2>
            <p>No ano de 2019, o pastor Ricardo da Nóbrega encera seu ciclo na cidade, sendo transferido para Fernando
                Pedroza.
                No mesmo ano, no dia 04/07/2019, o Pastor Raniere Nunes e sua família assume a liderança da Igreja e
                continuam até a presente época da leitura desse relatório.
                Na atual gestão dele, inicia-se a construção do novo templo.</p>

            <p>Veja abaixo uma galeria com fotos de alguns pastores que passaram por nossa igreja:</p>


        </article>

        <section class="galeria">
            <div class="fotos">
                <div class="foto">
                    <img src="{% static 'image/image 1.png' %}" alt="Pastor 1">
                </div>
                <div class="foto">
                    <img src="{% static 'image/image 2.png' %}" alt="Pastor 2">
                </div>
                <div class="foto">
                    <img src="{% static 'image/image 3.png' %}" alt="Pastor 3">
                </div>
                <div class="foto">
                    <img src="{% static 'image/image 4.png' %}" alt="Pastor 4">
                </div>
                <div class="foto">
                    <img src="{% static 'image/image 5.png' %}" alt="Pastor 5">
                </div>
                <div class="foto">
                    <img src="{% static 'image/image 6.png' %}" alt="Pastor 6">
                </div>
                <div class="foto">
                    <img src="{% static 'image/image 7.png' %}" alt="Pastor 7">
                </div>
                <div class="foto">
                    <img src="{% static 'image/image 8.png' %}" alt="Pastor 8">
                </div>
                <div class="foto">
                    <img src="{% static 'image/image 9.png' %}" alt="Pastor 9">
                </div>
                <div class="foto">
                    <img src="{% static 'image/image 10.png' %}" alt="Pastor 10">
                </div>
                <div class="foto">
                    <img src="{% static 'image/image 11.png' %}" alt="Pastor 11">
                </div>
                <div class="foto">
                    <img src="{% static 'image/image 12.png' %}" alt="Pastor 12">
                </div>
                <div class="foto">
                    <img src="{% static 'image/image 13.png' %}" alt="Pastor 13">
                </div>
                <div class="foto">
                    <img src="{% static 'image/image 14.png' %}" alt="Pastor 14">
                </div>
            </div>

        </section>

        <article>
            <p>Deus se fez presente em toda história da Igreja em Rodolfo Fernandes e até hoje não deixou faltar ou
                parar o trabalho, no dia xx/11/2023 é comemorado os 56(cinquenta e seis) anos de evangelho em Rodolfo
                Fernandes e 36 anos da construção do templo.
                “No qual todo edifício é ajustado e cresce para se tornar santuário santo no Senhor”
                Efésios 2:21
            <p>
                Durante toda essa história, muitas pessoas contribuíram para o crescimento e expansão de nossa
                congregação, a qual deixamos o nosso agradecimento a cada Pastor que lutou incansavelmente pela obra do
                Senhor, a cada irmão que não mede esforços para que ela permaneça de pé.</p>
        </article>
    </div>
</section>
{% endblock %}